
.link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.marker {
  background: black;
  width: 10px;
  height: 10px;
  color: black;
  border-radius: 50%;
  margin-top: 5px;
}
