nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;

  .homelink {
    text-decoration: none;
  }
  
  .title {
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    width: fit-content;
    

    &:hover {
      color: white;
    }

  }
  
  ul {
    text-decoration: none;
    display: flex;
    gap: 3vw;


    li {
      list-style: none;

      .activelink {
        color: blue;
        text-decoration: none;
        text-transform: uppercase;

      }

      .link {
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
      }

    }

    
    
  }

  
}
